body {
  background: #f9f9f9;
}

.origin-text img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 80%;
}

.origin-text h1 {
  position: relative;
  color: #000646;
  font-size: 4.5em;
  font-weight: 800;
  bottom: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 800px;
}

.origin-text h1 span {
  border-bottom: 18px solid #23e5af;
  display: inline-block;
  line-height: 0.5;
}

.origin-text p {
  position: relative;
  color: #000646;
  font-size: 1.4em;
  bottom: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 800px;
}

.origin-start {
  position: relative;
  color: white;
  background-color: #6062ff;
  height: 50px;
  padding: 10px 10px;
  width: 130px;
  bottom: 400px;
  left: 550px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
  box-shadow: 3px 3px 8px #b1b1b1,
             -3px -3px 8px #ffffff;
  transition: 0.3s;
}

.origin-talk {
  position: relative;
  color: #6062ff;
  background-color: white;
  height: 50px;
  padding: 10px 10px;
  width: 200px;
  bottom: 400px;
  left: 560px;
  cursor: pointer;
  border-color: #6062ff;
  border-radius: 30px;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
  box-shadow: 3px 3px 8px #b1b1b1,
             -3px -3px 8px #ffffff;
  transition: 0.3s;
}

.origin-features {
  width: 100%;
  margin-top: -250px;
  height: 420px;
  background: linear-gradient(to right, #f9f9f9, #eaeaea, #f9f9f9);
}

.feature-assurance {
  float: left;
  margin-top: 10px;
  margin-left: 140px;
  background: #f9f9f9;
  width: 200px;
  height: 130px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #b1b1b1,
              -2px -2px 5px #ffffff;
}

.feature-assurance img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.feature-assurance p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
}

.feature-raise {
  float: left;
  margin-top: 10px;
  margin-left: 50px;
  background: #f9f9f9;
  width: 200px;
  height: 130px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #b1b1b1,
              -2px -2px 5px #ffffff;
}

.feature-raise img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.feature-raise p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
}

.feature-funding {
  float: left;
  margin-top: 10px;
  margin-left: 50px;
  background: #f9f9f9;
  width: 200px;
  height: 130px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #b1b1b1,
              -2px -2px 5px #ffffff;
}

.feature-funding img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.feature-funding p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
}

.feature-emi {
  float: left;
  margin-top: 10px;
  margin-left: 50px;
  background: #f9f9f9;
  width: 200px;
  height: 130px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #b1b1b1,
              -2px -2px 5px #ffffff;
}

.feature-emi img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.feature-emi p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
}

.feature-topup {
  float: left;
  margin-top: 40px;
  margin-left: 140px;
  background: #f9f9f9;
  width: 200px;
  height: 130px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #b1b1b1,
              -2px -2px 5px #ffffff;
}

.feature-topup img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.feature-topup p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
}

.feature-cap {
  float: left;
  margin-top: 40px;
  margin-left: 50px;
  background: #f9f9f9;
  width: 200px;
  height: 130px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #b1b1b1,
              -2px -2px 5px #ffffff;
}

.feature-cap img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.feature-cap p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
}

.feature-tax {
  float: left;
  margin-top: 40px;
  margin-left: 50px;
  background: #f9f9f9;
  width: 200px;
  height: 130px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #b1b1b1,
              -2px -2px 5px #ffffff;
}

.feature-tax img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.feature-tax p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
}

.feature-contracts {
  float: left;
  margin-top: 40px;
  margin-left: 50px;
  background: #f9f9f9;
  width: 200px;
  height: 130px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #b1b1b1,
              -2px -2px 5px #ffffff;
}

.feature-contracts img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.feature-contracts p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
}
