.origin-text img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 80%;
}

.origin-text h1 {
  position: relative;
  color: #000646;
  font-size: 4.5em;
  font-weight: 800;
  bottom: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 800px;
}

.origin-text h1 span {
  border-bottom: 18px solid #23e5af;
  display: inline-block;
  line-height: 0.5;
}
