.nav-bar {
  display: inline-block;
  position: fixed;
  border: none;
  backdrop-filter: blur(20px);
  top: 0;
  width: 100%;
  height: 90px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  z-index: 8;
}

.nav-logo img {
  display: inline-block;
  width: 250px;
  float: left;
  margin-top: 8px;
  margin-left: 10px;
}

.nav-routes {
  margin: 0;
  font-size: 0.9em;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav-routes a {
  text-decoration: none;
  color: #000646;
  margin-right: 20px;
  font-weight: 700;
}
