.nav-bar {
  position: fixed;
  border: none;
  backdrop-filter: blur(20px);
  top: 0;
  width: 100%;
  height: 90px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  z-index: 8;
}

.nav-logo img {
  display: inline-block;
  width: 250px;
  float: left;
  margin-top: 7px;
  margin-left: 80px;
}

.nav-routes {
  left: 20px;
  font-size: 0.9em;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav-routes a {
  text-decoration: none;
  color: #000646;
  margin-right: 20px;
  font-weight: 700;
}

.nav-phone img {
  width: 12px;
}

.nav-phone {
  float: right;
  color: #6062ff;
  font-size: 1.1em;
  font-weight: 700;
  height: 20px;
  margin-right: 20px;
  position: relative;
  top: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav-login {
  float: right;
  color: #000646;
  margin-top: 19px;
  margin-right: 20px;
}

.nav-start {
  float: right;
  color: white;
  background-color: #6062ff;
  height: 50px;
  margin-top: 2px;
  margin-right: 100px;
  padding: 10px 10px;
  width: 130px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
  box-shadow: 3px 3px 8px #b1b1b1,
             -3px -3px 8px #ffffff;
  transition: 0.3s;
}
